/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

:root {
  --ifm-color-primary: #804249;
  --ifm-color-primary-dark: #733b42;
  --ifm-color-primary-darker: #6d383e;
  --ifm-color-primary-darkest: #5a2e33;
  --ifm-color-primary-light: #8d4950;
  --ifm-color-primary-lighter: #934c54;
  --ifm-color-primary-lightest: #a6565f;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff8a97;
  --ifm-color-primary-dark: #ff6374;
  --ifm-color-primary-darker: #ff4f63;
  --ifm-color-primary-darkest: #ff142e;
  --ifm-color-primary-light: #ffb1ba;
  --ifm-color-primary-lighter: #ffc5cb;
  --ifm-color-primary-lightest: #ffffff;
}

.footer__copyright {
  text-align: left;
  color: #444444;
}

.hero {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.hero__title, .hero__subtitle {
  color: black;
  font-family: 'M PLUS 1p', sans-serif;
}
.hero__title {
  font-size: 2.8rem;
}

.random-main-content {
  font-weight: bold;
  font-size: 150%;
  margin-top: 1em;
}

.random-body-content {
  font-size: 125%;
}

.random-main {
  text-align: center;
  line-height: 3em;
}